@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Scrollbar thumb color */
  border-radius: 9999px; /* Round the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #374151; /* Hover color for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #868686; /* Scrollbar track color */
}
